/* Normalize */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Scroll Behaviour */
html {
    scroll-behavior: smooth;
}

/* Color Variables */
:root {
    --primary-color: #21A179;
    --secondary-color: #EB5E28;
    --background-color: #F2F7F2;
    --text-color-black: #1E1E24;
    --text-color-grey: #495464;
    --white-color: #FFFFFF;
}

/* Remove default styling */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* |Utilities| */
.title div {
    color: var(--primary-color);
    padding-bottom: 1rem;
    border-bottom: 4px solid rgba(30, 30, 36, 0.15);
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.title div span {
    color: var(--secondary-color);
}

/* Styling */
body {
    background-color: var(--background-color);
    font-family: Inconsolata, monospace;
    overflow-y: scroll;
}

/* Container */
.cw-container {
    width: 90vw; 
    margin: 0 auto; 
}

/* |Header| */
.cw-container header {
    z-index: 2000;
    top:0;
    position: fixed;
    width: inherit;
    overflow: hidden;
    background-color: var(--background-color);
    
}



.cw-container header .cw-logo a {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.cw-container header .cw-logo a span {
    color: var(--primary-color);
}

.cw-container header .cw-navbar {
    float: right;
}



.cw-container header .cw-navbar ul li {
    margin: 0 0.5rem;
}

.cw-container header .cw-navbar ul li a {
    display: block;
    padding: 1rem 0.5rem;
    color: var(--text-color-grey);
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
}

.cw-container header .cw-navbar ul li a:hover {
    color: var(--primary-color);
}




/* |Hero| */

.cw-container section .cw-hero-info h6:first-child {
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: bold;
}

.cw-container section .cw-hero-info h1 {
    font-size: 3rem;
    color: var(--text-color-black);
}

.cw-container section .cw-hero-info h6 {
    font-size: 1rem;
    color: var(--text-color-grey);
    font-weight: 400;
}

.cw-container section .cw-hero-info .cw-cto-button {
    margin-top: 2rem;
}

.cw-container section .cw-hero-info .cw-cto-button .cw-btn-green {
    display: inline-block;
    height: 3rem;
    width: 10rem;
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    letter-spacing: 2px;
    text-align: center;
    line-height: 3rem;
    font-family: Inconsolata, monospace;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.cw-container section .cw-hero-info .cw-cto-button .cw-btn-green:hover {
    box-shadow: 1px 1px 6px 1px rgba(133, 133, 133, 0.4);
}

/* |ABOUT| */



.cw-container .cw-about .cw-about-section .cw-about-details p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
}
/* |Skills| */

.cw-container .cw-skills{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



.cw-container .cw-skills .cw-skills-list .cw-skills-item span{
    font-size: 3rem;
}

/* |Projects| */



.cw-projects .cw-projects-list .cw-project-item .cw-project-item-image {
    border-radius: 0.5rem;
    overflow: hidden;
}


.cw-projects .cw-projects-list .cw-project-item .cw-project-item-image img{
    height: 350px;
    width: 550px;
    object-fit: cover;
}



.cw-projects .cw-projects-list .cw-project-item .cw-project-item-details .detail-view {
    height: 14rem;
    width: 40rem;
    background-color: var(--white-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: 0.007em;
}

.border-right-top-bottom-radius{
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.border-left-top-bottom-radius{
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

/* inside detail view */
.detail-view .project-built-with ul {
    margin-top: 1rem;
}

.detail-view .project-built-with ul li {
    display: inline-block;
    padding: 0.7rem;
    background-color: var(--background-color);
    color: var(--text-color-black);
    font-size: 1rem;
    font-weight: 700;
}

.cw-projects .cw-projects-list .cw-project-item .cw-project-item-details .code-demo-links a {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    transition: color 0.1s ease-in-out;
}

.cw-projects .cw-projects-list .cw-project-item .cw-project-item-details .code-demo-links a:hover {
    color: var(--secondary-color);
}

/* |CONTACT| */

.cw-contact .cw-contact-detail p {
    margin: 2rem 0;
    font-size: 1.3rem;
    letter-spacing: 0.008rem;
}

 .cw-contact .cw-contact-detail .cw-contact-email a{
    background: #E0F0EB;
    border: 2px solid var(--primary-color);
    text-align: center;
    display: inline-block;
    padding: 0.5rem 3rem;
    color:var(--primary-color);
    transition: all .2s ease-in-out;
    font-size: 1.1rem;
    font-weight: 500;
}

.cw-contact .cw-contact-detail .cw-contact-email a:hover{
    background-color: var(--primary-color);
    color:var(--white-color);
}

/* Social links */


.cw-social-links ul li:not(:last-child) {
    text-align: center;
    cursor: pointer;
}

.cw-social-links ul li:nth-child(2){
    margin:0.5rem 0;
}


.cw-social-links ul li:not(:last-child) a{
    display: block;
    font-size: 1.5rem;
    color: var(--secondary-color);
}


.cw-social-links ul li:last-child{
    background-color: var(--secondary-color);
    height:3.5rem;
    width: .2rem;
    position: absolute;
    bottom: 0;   
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}